@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=National+Park:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    color: rgb(92, 49, 0);
  }

:root {
  --smooth: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9b67a;
    min-height: 100vh;
    font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .background {
    height: 100vh;
    top: 0;
    width: 100% ;
    position: absolute;
    z-index: -1;
  }

  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .circle {
    position: absolute;
    background: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgb(0, 255, 13);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px);
    animation: animate 3s ease-in-out calc(var(--i) * 0.08s) 1 backwards;
    box-shadow: 0 0 15px rgb(124, 124, 124),
                inset 0 0 15px rgb(124, 124, 124);
  }

  @keyframes animate {
    0%, 500% {
      transform: rotateX(1000deg) translateZ(500px) translateY(100);
      filter: hue-rotate(0);
    }

    50% {
      transform: rotateX(700deg) translateZ(500px) translateY(-500vmin);
      filter: hue-rotate(3600deg);
    }
  }

.back-to-home-page-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: fit-content;
  top: 1rem;
  left: 1rem;
  gap: 0.5rem;
  margin-right: auto;
  padding: 0.5rem 1rem;
  background-color: rgb(226, 137, 53);
  border-radius: 0.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  z-index: 10000;
  transition: var(--smooth);

}

.extra-container {
  width: 100%;
  height: 100rem;
  background-color: var(--div-color);
  margin-top: 10%;
}

.kolbasz-zsir {
  width: 80rem;
  height: 90rem;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.kolbasz-zsir-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
}

.kolbasz-zsir-description {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  text-align-last: center;
}

.extra-arrow {
  /* position: fixed; */
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  color: #fff;
  animation: kolbasz-arrow-anim 2s ease-in-out infinite;
  pointer-events: none;
  margin-top: 30%;
}

@keyframes kolbasz-arrow-anim {
  0% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1rem);
  }
}


.fa-solid.fa-arrow-left {
  position: relative;
  transform: translateX(-450%) ;
  color: #fff;
  z-index: 10000;;
  transition: var(--smooth) ;
}

.back-to-home-page-button:hover {
  border-radius: 1rem;
  transform: scale(1.05);
}

.back-to-home-page-button:hover .fa-solid.fa-arrow-left {
  transform: translateX(0) ;
}


.kolbasz-description {
  text-align: center;
}

.kolbasz-zsir-description {
  text-align: center;
  font-size: 1.5rem;
}

.title {
  font-size: 5rem;
  font-weight: 700;
}

.sub {
  font-size: 2rem;
  font-weight: 500;
}