@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0d71bd;
    --smooth: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

body {
    font-family: lato ;
    background-color: #282a2b;
    color: var(--main-color);

}


h1 {
    margin: auto;
    text-align: center;
    transition: var(--smooth);
}

h1:hover {
    scale: 2;
}